*{
    margin: 0;
    padding: 0;
}
.outline{
    ouвline: 1px solid red;
}
body{
    width: 1440px;
}
.header{
    margin-top: 12px;
}
.wrap{
    top: 0;
    bottom: 0;
    display: flex;
    margin-left: 32px;
    margin-right: 32px;
}
.logo{
    width: 70px;
    height: 74px;
}
.nav{
    display: flex;
    margin-left: 861px;
}
.nav ul li{
    list-style-type: none;
}
.navigation_menu{
    color: #212529;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
}
.number{
    margin-left: 190px;
    font-size: 18px;
    font-weight: 400;
}
.hero{
    margin-top: 40px;
}
.hero .wrap {

}
.text{
    display: flex;
}
.text1{
    font-size: 72px;
    font-weight: 400;
}
.link{
    padding-top: 217px;
    padding-left: 533px;
}
.hero2{
    padding-top: 40px;
}
.text2{
    font-size: 20px;
    font-weight: 400;
}
.picture_one{
    padding-left: 333px;
    width: 678px;
    height: 809px;
}
.hero2 .wrap{
    position: relative;

}
.picture_two{
    position: absolute;
    left: 0;
    bottom: 0;
}
.images{
    object-fit: cover;
}
.about{
    margin-top: 120px;
}
.about_text {
    font-size: 48px;
}
.about_text2{
    font-size: 16px;
    padding-left: 288px;
}
.about_number_one{
    padding-top: 44px;
}
.about_number{
    font-size: 36px;
    margin-top: 24px;
}
.about_text3{
}