*{
    margin: 0;
    padding: 0;
}
.outline{
    ouвline: 1px solid red;
}
body{
    width: 1440px;
}
.header{
    margin-top: 12px;
}
.wrap{
    top: 0;
    bottom: 0;
    margin-left: 32px;
    margin-right: 32px;
}
.display{
    display: flex;
}
.logo{
    width: 70px;
    height: 74px;
}
.nav{
    display: flex;
    margin-left: 861px;
}
.nav ul li{
    list-style-type: none;
}
.navigation_menu{
    color: #212529;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
}
.number{
    margin-left: 190px;
    font-size: 18px;
    font-weight: 400;
}
.hero{
    margin-top: 40px;
}
.text{
    display: flex;
}
.text1{
    font-size: 72px;
    font-weight: 400;
}
.link{
    padding-top: 217px;
}
.hero2{
    padding-top: 40px;
}
.text2{
    font-size: 20px;
    font-weight: 400;
}
.picture_one{
    padding-left: 333px;
    width: 678px;
    height: 809px;
}
.hero2 .wrap{
    position: relative;
}
.picture_two{
    position: absolute;
    left: 0;
    bottom: 0;
}
.images{
    object-fit: cover;
}
.about{
    margin-top: 120px;
}
.about_text {
    font-size: 48px;
}
.about_text2{
    font-size: 16px;
    padding-left: 288px;
}
.about_number_one{
    padding-top: 44px;
}
.about_number{
    font-size: 36px;
    margin-top: 24px;
}
.steps_header{
    font-size: 48px;
}
.steps_text{
    padding-left: 341px;
    padding-top: 26px;
}
.steps_item{
    margin-top: 44px;
    padding-left: 691px;
}
.justify-content{
    justify-content: space-between;
}
.steps_item_header{
    font-size: 36px;
}
.border{
    border: solid 1px black;
    margin-top: 24px;
}
/*
.steps_item_text{
    padding-top: 8px;
    padding-left: 312px;
}
 */
.steps_bloc{
    margin-top: 24px;
}
.projects_header{
    margin-top: 120px;
    font-size: 48px;
}
.projects_img{
    margin-top: 32px;
}
.projects_img1{
    margin-top: 20px;
}